@model Colegio.Web.Models.Alumno


@{
    ViewData["Title"] = "Add Alumno";
}

<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<h2>Agregar</h2>
<h4>Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAlumno">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBarrio" />
            <partial name="_Alumno" />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <br />
                <a asp-action="DetailsBarrio" asp-route-id="@Model.IdBarrio" class="btn btn-outline-dark"><span class="material-symbols-outlined">
keyboard_backspace
</span>Atrás</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
 @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

