@model Colegio.Web.Models.Municipio

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<h1>Creación</h1>

<h4>Municipio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <partial name="_Municipio"/>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-dark"><span class="material-symbols-outlined">
keyboard_backspace
</span>Atrás</a>
</div>

